doctype 5
html
  head
    title Test
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../build/build.css")

  body
    script(src="../build/build.js")
    script
      var List = require('list');

      var data = ['apple', 'banana', 'peach', 'orange', 'melon'];
      var list = new List(data);

      document.body.appendChild(list);
