.component.list
  background-color white
  border 1px solid #DDD
  border-radius 3px
  box-shadow 0 0 5px rgba(0,0,0,0.1)
  min-width 50px

  >.li
    font-family Helvetica, arial, freesans, clean, sans-serif;
    font-size 13px
    font-weight bold
    height 20px
    line-height 20px
    color rgb(51, 51, 51)
    padding 5px 10px
    border-bottom 1px solid #DDD

    &.active
      background-color #FAFAFA

    &.selected
      color white
      background-color #4183c4
